@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primaryTextColor: #232e35; /*Untuk title atau judul*/
  --secondaryTextColor: #656d72; /*Untuk text biasa seperti paragraph*/
  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9;
  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;
  --forthBackgroundColor: #efeded;
  --primaryIconColor: #7e74f1;
  --primaryIconColorHover: #5d51e8;
  --sectionPadding: 6rem 0;
  --itemBorderRadius: 0.7rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem; /*16px*/
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* Button */
.btn {
  padding: 1rem 1.5rem;
  background: var(--borderColor);
  border: 1.5px solid var(--borderColor);
  border-radius: var(--itemBorderRadius);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--primaryTextColor);
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
}

/* Titles */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* Layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* Logo dan menu navigasi */
.nav {
  z-index: 100;
  width: 85%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: var(--primaryTextColor);
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
}

nav ul li a:hover {
  color: var(--primaryIconColorHover);
  transition: 0.2s ease-in-out;
}

/* Burger */
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* Section Hero */
#hero,
.about {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--primaryIconColor);
}

.hero-right img {
  width: 50%;
}

.hero-right,
.about-left {
  display: flex;
  justify-content: center;
}

/* Section About Me */
.section-about-title {
  margin: 1rem 0;
  font-size: 2rem;
}

.about-left img {
  border-radius: var(--itemBorderRadius);
  width: 50%;
}

.data-diri {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  align-items: center;
  margin-bottom: 2rem;
}

.about p {
  margin-bottom: 1rem;
}

/* Section Experience */
#experiences {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.experiences .pre-title {
  margin: 0 auto;
}

.experiences-title {
  text-align: center;
}

.experince {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.experince h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.experince h4 {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.05rem;
}

.experince-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.experince-icon svg {
  fill: var(--primaryIconColor);
}

/* Portfolio Section */
#portfolios {
  padding: var(--sectionPadding);
}

.portfolios {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 35px;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  height: 50px;
  width: 50px;
  color: white;
  background: var(--primaryIconColor);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper i:hover {
  background: var(--primaryIconColorHover);
}

.wrapper i:first-child {
  left: -30px;
}

.wrapper i:last-child {
  right: -30px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .portfolio {
  cursor: grab;
  user-select: none;
}

.carousel .portfolio {
  /* height: 342px; */
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  border-radius: 8px;
}

.portfolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--borderColor);
}

.portfolio-cover {
  height: 250px;
}

.portfolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  padding: 2rem 1.5rem;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-title a svg:hover {
  fill: var(--primaryIconColor);
}

.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}

/* Skills & eduation */
#skills {
  padding: var(--sectionPadding);
  background: var(--secondaryBackgroundColor);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 2rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background: var(--borderColor);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

/* The dot on the line */
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--borderColor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}

/* Contact Section */
#contact {
  padding: var(--sectionPadding);
}

.contact .pre-title {
  margin: 0 auto;
}

.contact-title {
  text-align: center;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background: var(--primaryIconColor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background: var(--primaryIconColorHover);
}

.error-message {
  color: red;
  padding: 0;
  font-size: 0.875em;
  margin-top: 0;
}

.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--thirdBackgroundColor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

/* Footer Section */

footer {
  padding: 4rem 0;
  background: var(--forthBackgroundColor);
  text-align: center;
}

.footer-icon {
  margin-bottom: 1rem;
}

.footer-icon a {
  margin: 0 0.5rem;
}

.footer-icon svg {
  fill: #3e3f40;
}

.footer-icon svg:hover {
  fill: #000;
}
